* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #d1d9dd;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main h1 {
  font-size: 100px;
  color: #fff;
  background-color: #9e63b6;
  padding: 120px 100px;
  border: 3px solid #fff;
  border-radius: 50px;
}
